<% include header.ejs %>
<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Welcome to shopping online!</h1>
    <p class="lead">Please click the add button to add more products</p>
    <a href="/addProduct" class="btn btn-primary btn-lg">Add now!</a>
  </header>

  <!-- Page Features -->
  <div class="row text-center">
    <% if (dataList.length !== 0) { %>
    <% for (var i = 0; i < dataList.length; i++) { %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" width="50%" height="200px" src="/uploads/<%= dataList[i].image %>" alt="">
        <div class="card-body">
          <h4 class="card-title">
            <%= dataList[i].name %>
          </h4>
          <p class="card-text card-desc">
            <%= dataList[i].description %>
          </p>
        </div>
        <div class="card-footer">
          <a href="viewProduct/<%= dataList[i].id %>" class="btn btn-primary">View More!</a>
        </div>
      </div>
    </div>
    <% } } else { %>
      <div class="card border-danger mb-3" style="max-width: 18rem;">
          <div class="card-header">Out of Stock!!!</div>
          <div class="card-body text-danger">
            <h5 class="card-title">Please add new item</h5>
            <p class="card-text">Click on Add button to add more products</p>
          </div>
        </div>
      <% } %>
  </div>
  <!-- /.row -->

</div>
<script>
const cardText = document.querySelectorAll('.card-desc');
cardText.forEach(item => {
  const conte = item.textContent;
const transformText = conte.trim().substring(0, 80)+'...';
item.textContent = transformText;
});

</script>
<!-- /.container -->
<% include footer.ejs %>